CustomersServiceApplication/Connected Services/CustomerServiceReference/EntityFrameworkClassLibrary.EntityData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EntityFrameworkClassLibrary.EntityData" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EntityFrameworkClassLibrary.EntityData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCustomers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customers" nillable="true" type="tns:Customers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomers" nillable="true" type="tns:ArrayOfCustomers" />
  <xs:complexType name="Customers">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customers" nillable="true" type="tns:Customers" />
</xs:schema>